@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*  Variables */
:root {
    --background-blue-color:#048ABF;
    --main-blue-color: #04B2D9;
    --secondary-orange-color: #F27405;
    --third-red-color:#E50027;
    --fourth-red-color: #00DC7F;
  }

  #map{
    height:400px;
    width: 100%;
  }



